.enter-and-submit{
    text-align: center;
    margin-right: 38%;
    margin-left: 38%;
    
}

.dutyRadio{
    margin-top: 15%;
    margin-right: 40%;
    margin-left: 43%;

}

.buttons{
    height: 50px;
    width: 100px;
}

.ID_number{
    text-align: center;
}

